<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div>
        <form action="/question/save" method="post" class="">
            <input type="hidden" th:value="${session.member.id}" readonly name="memberId">
            <input type="text" th:value="${session.member.memberName}" readonly name="questionName">
            <input type="text" name="questionTitle" placeholder="제목">
            <textarea name="questionContents" cols="30" rows="10" placeholder="내용"></textarea>
            <input type="submit" value="저장">
        </form>
    </div>


</body>
</html>