<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script th:src="@{/js/axios.min.js}"></script>
    <!--  //시간설정-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <style>
        .contentContainer {
            width: 500px;
            height: 500px;
            left: 500px;
            top: 500px;
            /* Rectangle 1 */
        }

        td {
            width: 200px;
        }

        th {
            width: 100px;
        }

        .main {
            width: 600px;
            margin-top: 200px;
            margin-left: 500px;
        }

    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div>
    <div class="main">
        <div class="d-flex justify-content-center">
            <div class="contentContainer">
                <table class="table">
                    <tr>
                        <th>번호</th>
                        <td th:text="${question.id}"></td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td th:text="${question.questionName}"></td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td th:text="${question.questionTitle}"></td>
                    </tr>

                    <tr>
                        <th>작성시간</th>
                        <td th:text="*{#temporals.format(question.questionCreatedTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </table>


                <div>
                    <textarea class="form-control" rows="5" th:text="${question.questionContents}"></textarea>
                </div>
                <div>
                    <input id="replyContents" type="text" name="replyContents" class="form-control" style="display: inline">
                    <button type="button" class="btn btn-primary" onclick="reply()">댓글달기</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container mt-5" id="comment-list">
    <div th:if="${replyList == 'empty'}">
        <p>작성된 댓글이 없습니다.</p>
    </div>
    <div th:unless="${replyList == 'empty'}">
        <table class="table">
            <tr>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
            </tr>
            <tr th:each="reply: ${replyList}">
                <td th:text="${reply.replyName}"></td>
                <td th:text="${reply.replyContents}"></td>
                <td th:text="*{#temporals.format(reply.replyDate,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
<script th:inline="javascript">
    const reply = () => {
        const memberId = [[${session.member.id}]];
        const writer = [[${session.member.memberName}]];
        const contents = document.getElementById("replyContents").value;
        let questionId = [[${question.id}]];
        $.ajax({
            type: "post",
            url: "/reply/save",
            data: {
                memberId: memberId,
                questionId: questionId,
                replyName: writer,
                replyContents: contents,
            },
            dataType: "json",
            success: function (replyLIst2) {
                let commentList2 = replyLIst2;
                let output = "<table class='table'>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th>";
                for (let i in commentList2) {
                    output += "<tr>";
                    output += "<td>" + commentList2[i].replyName + "</td>";
                    output += "<td>" + commentList2[i].replyContents + "</td>";
                    output += "<td>" + moment(commentList2[i].replyDate).format("YYYY-MM-DD HH:mm:ss") + "</td>";
                    output += "</tr>";
                }
                output += "</table>";

                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentContents').value = '';

            },
            error: function () {
                console.log("실패");
            }
        });
    }


</script>
</html>