<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>questionDetail</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script th:src="@{/js/axios.min.js}"></script>
    <!--ajax cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--  //시간설정-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <!--  폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap"
          rel="stylesheet">
    <style>
        *{
            font-family: 'Jua', sans-serif;
            font-family: 'Nanum Gothic', sans-serif;
            font-family: 'Noto Sans KR', sans-serif;
        }
        .main{
            width: 600px;
            height: 409px;
            left: 411px;
            top: 85px;
            /*가운데 정렬 margin: auto*/
            margin-left: auto;
            margin-right: auto;
        }
        /*.contentContainer {*/
        /*    width: 500px;*/
        /*    height: 500px;*/
        /*    left: 500px;*/
        /*    top: 500px;*/
        /*    !* Rectangle 1 *!*/
        /*}*/

        td {
            width: 200px;
        }

        th {
            width: 100px;
        }

    </style>
</head>
<body style="background-color: white">
<th:block th:replace="commonPages/header :: header"></th:block>
<div>
    <div class="main">
        <div class="d-flex justify-content-center">
            <div class="contentContainer">
                <table class="table">
                    <tr>
                        <th>작성자</th>
                        <td th:text="${question.questionName}"></td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td th:text="${question.questionTitle}"></td>
                    </tr>

                    <tr>
                        <th>작성시간</th>
                        <td th:text="*{#temporals.format(question.questionCreatedTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </table>


                <div>
                    <textarea class="form-control" rows="5" th:text="${question.questionContents}" readonly></textarea>
                </div>
                    <div th:if="${session.member.userId.toString().equals('admin')}">
                    <input id="replyContents" type="text" value="" name="replyContents" class="form-control" style="display: inline" placeholder="답변내용">
                    <button type="button" class="btn btn-warning" style="display: inline; margin-top: 10px" onclick="reply()">답변 작성</button>
                    <button type="button" class="btn btn-default" style="float:right ; display: inline; margin-top: 10px" onclick="questionList()">목록</button>
                        <button type="button" class="btn btn-success" style="float:right; display: inline; margin-top: 10px" onclick="questionUpdate()">수정</button>
                        <button type="button" class="btn btn-danger" style="float:right; display: inline; margin-top: 10px" onclick="questionDelete()">삭제</button>
                </div>
                <div th:unless="${session.member.userId.toString().equals('admin')}">
                    <button type="button" class="btn btn-default" style="float:right; display: inline; margin-top: 10px" onclick="questionList()">목록</button>
                    <button type="button" class="btn btn-success" style="float:right; display: inline; margin-top: 10px" onclick="questionUpdate()">수정</button>
                    <button type="button" class="btn btn-pr" style="float:right; display: inline; margin-top: 10px" onclick="questionDelete()">삭제</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container mt-5" id="comment-list">
    <div th:if="${replyList == 'empty'}">
        <p>작성된 댓글이 없습니다.</p>
    </div>
    <div th:unless="${replyList == 'empty'}">
        <table class="table">
            <tr>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
                <th>삭제</th>
            </tr>
            <tr th:each="reply: ${replyList}">
                <td th:text="${reply.replyName}"></td>
                <td th:text="${reply.replyContents}"></td>
                <td th:text="*{#temporals.format(reply.replyDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <button th:if="${session.member.userId.toString().equals('admin')}" class="btn btn-outline-dark" th:onclick="replyDelete([[${reply}]])">삭제</button>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
<script th:inline="javascript">
    //답변 삭제
    const replyDelete = (reply) => {
        let id = reply.id;
        let questionId = [[${question.id}]];
        if (confirm("정말삭제하시겠습니까?") == true){
            location.href = "/reply/delete?replyId=" + id + "&questionId=" + questionId;
        }else {
            return false;
        }

    }

    //문의글 삭제
    const questionDelete = () => {
        const id = [[${question.id}]];
        if (confirm('정말 삭제하시겠습니까?')) {

            location.href = "/question/delete/" + id;
        }

    }


    const questionUpdate = () => {
        const id = [[${question.id}]];
        const questionName = [[${question.questionName}]];
        const memberName = [[${session.member.userId}]];
        const userId = [[${session.member.userId}]];

        if (questionName == memberName || userId == 'admin') {
            location.href = '/question/update/' + id;
        } else {
            alert('작성자만 수정할 수 있습니다.');
        }
    }


    const questionList = () => {
      location.href = "/question/list";
    }

    const reply = () => {
        console.log("reply");
        const memberId = [[${session.member.id}]];
        const writer = [[${session.member.userId}]];
        const contents = document.getElementById("replyContents").value;
        let questionId = [[${question.id}]];
        $.ajax({
            type: "post",
            url: "/reply/save",
            data: {
                memberId: memberId,
                questionId: questionId,
                replyName: writer,
                replyContents: contents,
            },
            dataType: "json",
            success: function (replyLIst2) {
                let commentList2 = replyLIst2;
                let output = "<table class='table'>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th>";
                for (let i in commentList2) {
                    output += "<tr>";
                    output += "<td>" + commentList2[i].replyName + "</td>";
                    output += "<td>" + commentList2[i].replyContents + "</td>";
                    output += "<td>" + moment(commentList2[i].replyDate).format("YYYY-MM-DD HH:mm:ss") + "</td>";
                    output += "</tr>";
                }
                output += "</table>";

                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('replyContents').value = '';

            },
            error: function () {
                console.log("실패");
            }
        });
    }


</script>
</html>