<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--  <link rel="stylesheet" th:href="@{/css/save.css}">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!--ajax cdn-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--  폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/style/save.css}" type="text/css">
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>

<div class="main">
<header id="header">
  <h1 class="tit mt-5">회원가입</h1>
</header>
<form name="join" action="/member/save" method="post" >
  <fieldset>
    <div class="id-container">
      <label for="uid">아이디</label>
      <input type="text" class="width-450 form-control" name="UserId" id="uid" placeholder="아이디를 입력해주세요">
      <input type="button" class="btn btn-success mt-2" name="checkId" onclick="check_id()" value="아이디 중복확인">
      <span id="idError"></span>
    </div>
    <div class="password-container">
      <label for="pwd" class="mt-4">비밀번호</label>
      <input type="password" class="width-450 form-control" name="memberPassword" id="pwd" placeholder="비밀번호 입력 (문자, 숫자 포함 8~12자)">
      <span id="pwdError"></span>
      <label for="rePwd" class="mt-4">비밀번호 확인</label>
      <input type="password" class="width-450 form-control" name="memberPassword2" id="rePwd" onblur="check_pwd()" placeholder="비밀번호 재입력">
      <span id="rePwdError"></span>
    </div>
    <div class=name-container>
      <label for="uname" class="mt-4">이름</label>
      <input type="text" class="width-450 form-control" name="memberName" id="uname" onblur="check_name()" placeholder="이름을 입력해주세요">
      <span id="nameError"></span>
      </span>
    </div>

    <div class=mobile-container>
      <label for="memberMobile" class="mt-4">전화번호</label>
      <input type="text" class="width-450 form-control" name="memberMobile" id="memberMobile" onblur="check_mobile()" placeholder="휴대폰 번호 입력 ('-' 제외 11자리 입력)">
      <span id="mobileError"></span>
    </div>

    <div class=email-container>
      <label for="memberEmail" class="mt-4">이메일</label>
      <input type="text" class="width-450 form-control" name="memberEmail" id="memberEmail" onblur="check_email()"placeholder="이메일 주소 입력 (___@___ 형식으로 입력)">
      <span id="emailError"></span>
    </div>


    <div class="btn-container">
      <button type="submit" id="joinBtn" class="width-half height-30 form-control form-group group btn-group btn btn-success mt-4" name="join">회원가입</button>
    </div>
  </fieldset>
</form>
</div>
</body>

<script th:inline="javascript">
const check_id = () => {
  console.log("호출")
  const id = document.getElementById("uid").value;
  if (id == "") {
    alert("아이디를 입력해주세요.");
     } else {
    $.ajax({
      type: "post",
      url: "/member/duplicate-check-userId",
      data: {
        userId: id
      },
      dataType: "text",
      success: function (result) {
        console.log("성공");
        console.log(result);
        if (result == "success") {
          $("#joinBtn").removeAttr("disabled");
          alert("회원가입가능")

        } else {
          $("#joinBtn").attr("disabled", "disabled");
          alert("이미 존재하는 아이디입니다.")
        }
      },
      error: function () {
        console.log("실패")
      }
    })
  }
}
const check_name = () => {
  console.log("check_name 함수호출");
  if(document.join.memberName.value === ""){
    $("#joinBtn").attr("disabled", "disabled");
    const nameCheck = document.getElementById("nameError");
    nameCheck.innerHTML="이름을 입력해주세요";
    nameCheck.style.color="red";
    return false;
  } else{
    const nameCheck = document.getElementById("nameError");
    nameCheck.innerHTML="";
  }
}
  const check_pwd = () => {
    const pwd = document.getElementById("pwd").value;
    const rePwd = document.getElementById("rePwd").value;
    const exp = /^(?=.*[a-z])(?=.*\d)[A-Za-z\d]{8,12}$/;

    if (pwd == "") {
      $("#joinBtn").attr("disabled", "disabled");
      const passwordCheck = document.getElementById("pwdError");
      passwordCheck.innerHTML="비밀번호를 입력해주세요";
      passwordCheck.style.color="red";
    } else if (pwd != rePwd) {
      $("#joinBtn").attr("disabled", "disabled");
      const passwordCheck = document.getElementById("pwdError");
      passwordCheck.innerHTML="비밀번호가 일치하지 않습니다.";
      passwordCheck.style.color= "red";
    } else if(!document.join.memberPassword.value.match(exp)){
      $("#joinBtn").attr("disabled", "disabled");
        const passwordCheck =document.getElementById("pwdError");
        passwordCheck.innerHTML="영문 소문자와 숫자를 이용하여 8~12자 이내로 입력하세요";
        passwordCheck.style.color="red";
        return false;
      } else {
      document.getElementById("pwdError").innerHTML = "비밀번호가 일치합니다.";
      document.getElementById("pwdError").style.color = "blue";
    }
  }

  const check_mobile = () => {
    const mobile = document.getElementById("memberMobile").value;
    const mobileCheck = document.getElementById("mobileError");
    const regExp = /^\d{3}-\d{3,4}-\d{4}$/;
    if (!regExp.test(mobile)) {
      $("#joinBtn").attr("disabled", "disabled");
      document.getElementById("memberMobile").value = "";
      mobileCheck.innerHTML = "전화번호는 000-0000-0000 형식으로 입력해주세요."
      mobileCheck.style.color = "red"
    } else {
      $("#joinBtn").removeAttr("disabled");
      mobileCheck.innerHTML = ""
    }
  }

const check_email = () => {
  const email = document.getElementById("memberEmail").value;
  const emailCheck = document.getElementById("emailError");
  const regExp = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.[a-zA-Z]{2,4}$/;
  if (!regExp.test(email)) {
    $("#joinBtn").attr("disabled", "disabled");
    document.getElementById("memberEmail").value = "";
    emailCheck.innerHTML = "이메일은 ____@____ 형식으로 입력해주세요."
    emailCheck.style.color = "red"
  } else {
    $("#joinBtn").removeAttr("disabled");
    emailCheck.innerHTML = ""
  }
}
</script>
</html>