<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>passwordCheck</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--  폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Jua', sans-serif;
            font-family: 'Nanum Gothic', sans-serif;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .main{
            width: 400px;
            height: 409px;
            left: 411px;
            top: 85px;
            /*가운데 정렬 margin: auto*/
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
        }
        label{
            margin-top: 20px;
        }
    </style>
</head>
<body style="background-color: white">
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="main">
<div class="password-container">
<!--    <form id="1" action="/member/password" method="get" name="passwordCheck"></form>-->
    <input type="hidden" name="id" th:value="${session.member.id}">
    <input type="hidden" name="userId" th:value="${session.member.userId}">
    <input type="hidden" name="memberEmail" th:value="${session.member.memberEmail}">
    <input type="hidden" name="memberName" th:value="${session.member.memberName}">
    <input type="hidden" name="memberMobile" th:value="${session.member.memberMobile}">
  <div>
    <label for="pwd">비밀번호</label>
  <input type="password" class="width-450 form-control" name="memberPassword" id="pwd" placeholder="비밀번호를 입력하세요">
  <span id="pwdError"></span>
  </div>
  <input type="submit" id ="passwordCheckBtn" class="btn btn-success" style="width: 400px; margin-top: 20px;" onclick="check_pwd()" value="정보 수정하기">
</div>
</div>
</body>
<script th:inline="javascript">
  const check_pwd = () => {
    const pwd = document.getElementById("pwd").value;
    const DBPass = [[${session.member.memberPassword}]];
    if (pwd === "") {
      alert("비밀번호를 입력해주세요.");
        return false;
    } else if(DBPass === pwd) {
      // document.passwordCheck.submit();
      location.href="/member/update";
    }else {
        alert("잘못 입력하셨습니다.");
        return false;
    }

  }
</script>
</html>