<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<div th:fragment="header">
    <!-- 여기에 header 부분 HTML 구성 -->
    <div id="header_bg"> <!--#1366bf-->
        <header><!--1400px-->
            <div id="my_menu"><a href="#"><img th:src="@{/img/my_icon.png}" alt="my_menu"></a></div>
            <ul><!--언어영역-->
                <div>
                    <div th:if="${session.member} != null">
                        <li><a href="/member/logout">로그아웃</a></li>
                        <li class="dropdown"><a href="/member/myPage" role="button" class="dropdown-toggle"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="true">마이페이지</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       th:href="@{/order/list(userId=${session.member.userId})}">주문확인/배송조회</a>
                                </li>
                                <li><a class="dropdown-item" href="#">개인정보</a>
                                </li>
                            </ul>
                        </li>
                        <li><a th:href="@{/cart/list(userId=${session.member.userId})}">장바구니</a></li>
                        <li><a href="/question/list">고객센터</a></li>
                        <li><a href="/member/admin">관리자페이지</a></li>
                    </div>

                    <div th:unless="${session.member}">
                        <li><a href="/member/login">로그인</a></li>
                        <li><a href="/member/save">회원가입</a></li>
                        <li><a href="/question/list">고객센터</a></li>
                    </div>
                </div>
            </ul>

            <div id="h_btm" style="width: 950px"> <!--로고부분헤더-->
                <h1><a href="#"><img th:src="@{/img/gardening.jpg}" alt="도그쿡" width="150" height="130"></a></h1>
                <nav>
                    <div id="all_menu">
                        <a href="#"><img th:src="@{/img/allmenu_icon.png}" alt="menu"></a>
                    </div>
                    <ul style="margin-left: 100px;">
                        <li><a href="#">소형 식물</a></li>
                        <li><a href="#">중형 식물</a></li>
                        <li><a href="#">대형 식물</a></li>
                        <li><a href="/item/main">전체상품</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>
</html>

