<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js == 아임포트 결제모듈 연동 역할 -->
    <script type="text/javascript"
            src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <style>
        .box {
            width: 50px;
            height: 50px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="container">
    <form action="/order/save" method="post">
        <input type="hidden" name="userId" th:value="${session.member.userId}">
        <input type="hidden" name="memberId" th:value="${session.member.id}">
        <input type="hidden" name="itemId" th:value="${item.id}">
        <table class="table">
            <tr>
                <th>상품</th>
                <th>상품이름</th>
                <th>상품가격</th>
                <th>상품수량</th>
                <th>총가격</th>

            </tr>
            <tr>
                <td class="box"><img class="profile" th:src="@{|/upload/${item.itemImage}}" alt=""></td>
                <td><input id="itemName" type="text" name="orderName" th:value="${item.itemName}" class="form-control" readonly></td>
                <td><input type="text" name="itemPrice" th:value="${item.itemPrice}" class="form-control" readonly></td>
                <td>
                    <input type="number" id="itemCountInput" min="1" max="100" th:value="${item.cartCount}"
                           name="orderCount"
                           onchange="total()">
                </td>
                <td>
                    <input type="text" th:value="${item.itemPrice * item.cartCount}" name="orderPrice" id="totalPrice"
                           readonly>
                </td>
            </tr>
        </table>


        <article class="as">

            <article class="info">

                <header>
                    <h2>주문 신청</h2>

                    <div>
                        <p>①&nbsp고객정보 입력</p>
                        <label><input type="checkbox" onclick="myInform()"> 내 정보 불러오기</label>
                    </div>
                </header>


                <section>
                    <div>
                        <input type="text" th:value="${session.member.memberName}" readonly style="display: block"
                               name="memberName" id="memberName">
                    </div>

                    <div>
                        <input type="text" th:value="${session.member.memberMobile}" readonly style="display: block"
                               name="memberMobile" id="memberMobile">
                    </div>
                </section>


                <section>
                    <div>
                        <input type="text" id="sample6_postcode" placeholder="우편번호" name="postcode">
                        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                    </div>
                    <input type="text" id="sample6_address" placeholder="주소" name="memberAddress">
                    <input type="text" id="sample6_detailAddress" name="detailAddress" placeholder="상세주소">
                    <input type="hidden" id="sample6_extraAddress" placeholder="참고항목" name="extraAddress">
                </section>


                <section>
                    <div>
                        <input type="text" th:value="${session.member.memberEmail}" readonly style="display: block"
                               name="memberEmail" id="memberEmail">
                        <button id="check_module" type="button" onclick="requestPay()">테스트 결제</button>
                    </div>
                </section>
            </article>
        </article>
    </form>
    </article>
</div>
<a href="/cart/save">장바구니</a>
<a href="/order/save">바로구매</a>


</body>
<script th:inline="javascript">

    function requestPay() {
        const itemName = document.getElementById("itemName").value;
        let totalPrice =document.getElementById("totalPrice").value;
        const memberEmail = document.getElementById("memberEmail").value;
        const memberName = document.getElementById("memberName").value;
        const memberMobile = document.getElementById("memberMobile").value;
        const memberAddress = document.getElementById("sample6_address").value;
        const detailAddress = document.getElementById("sample6_detailAddress").value;
        const extraAddress = document.getElementById("sample6_extraAddress").value;
        const postcode = document.getElementById("sample6_postcode").value;
        const form = document.querySelector("form");
        IMP.init('imp05030142'); //iamport 대신 자신의 "가맹점 식별코드"를 사용
        IMP.request_pay({
            pg: "kakaopay",
            pay_method: "card",
            merchant_uid : 'merchant_'+new Date().getTime(),
            name : itemName,
            amount : totalPrice,
            buyer_email : memberEmail,
            buyer_name : memberName,
            buyer_tel : memberMobile,
            buyer_addr : memberAddress + detailAddress+ extraAddress,
            buyer_postcode : postcode,
        }, function (rsp) { // callback
            if (rsp.success) {
                form.submit();
                console.log(rsp);
                var msg = '결제가 완료되었습니다.\n';
                msg += '고유ID : ' + rsp.imp_uid+"\n";
                msg += '상점 거래ID : ' + rsp.merchant_uid+"\n";
                msg += '결제 금액 : ' + rsp.paid_amount+'원\n';
                msg += '카드 승인번호 : ' + rsp.apply_num;
            } else {
                console.log(rsp);
                var msg = '결제에 실패하였습니다.\n';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
        });
    }


    const myInform = () => {
        const memberAddress = document.querySelector('input[name=memberAddress]');
        const detailAddress = document.querySelector('input[name=detailAddress]');
        const extraAddress = document.querySelector('input[name=extraAddress]');
        const postcode = document.querySelector('input[name=postcode]');
        if(document.querySelector('input[type=checkbox]').checked) {
            memberAddress.value = [[${session.member.memberAddress}]];
            detailAddress.value = [[${session.member.detailAddress}]];
            extraAddress.value = [[${session.member.extraAddress}]];
            postcode.value = [[${session.member.postcode}]];
        } else {
            document.querySelector('input[name=memberAddress]').value = '';
            document.querySelector('input[name=detailAddress]').value = '';
            document.querySelector('input[name=extraAddress]').value = '';
            document.querySelector('input[name=postcode]').value = '';
        }
    }


    const total = () => {
        console.log("함수호출")
        const itemCount = document.getElementById("itemCountInput").value;
        let itemPrice = [[${item.itemPrice}]];
        let totalPrice = itemCount * itemPrice;
        document.getElementById("totalPrice").value = totalPrice;
    }

    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }

</script>

</html>