<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/starRating.css}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<th:block th:replace="commonPages/header :: header"></th:block>
<div th:if="${orderList == 'empty'}">
    <p>주문내역이 없습니다.</p>
</div>
<div th:unless="${orderList == 'empty'}">
    <table class="table" id="table-form">
        <tr>
            <th>주문번호</th>
            <th>상품이름</th>
            <th>배송상태</th>
            <th>후기작성</th>
        </tr>
        <tr th:each="order: ${orderList}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.orderName}"></td>
            <td th:text="${order.orderStatus}"></td>
            <div th:if="${order.orderStatus == '배송완료'}">
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal"
                            th:data-id="${order.id}" th:onclick="modal([[${order.id}]])">후기작성
                    </button>
                </td>
            </div>
        </tr>
    </table>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">후기작성</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="orderId" class="body-contents" id="contents">
                <input type="text" class="form-control rounded-3 mt-3" name="commentContents" placeholder="내용">
                <h1 class="rating" name="starCount">0점</h1>
                <div class="star-container">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <script th:src="app.js"></script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="commentWrite()">후기등록</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    const modal = (order) => {
        console.log(order);
        const orderId = document.getElementById('contents');
        orderId.value = order;
    }


    // 별점
    let stars = document.querySelectorAll(".star");
    document.querySelector(".star-container").addEventListener("click", starRating);
    let rating = document.querySelector(".rating");

    function starRating(e) {
        stars.forEach((star) => star.classList.remove("star__checked"));
        const i = [...stars].indexOf(e.target);
        if (i > -1) {
            stars[i].classList.add("star__checked");
            rating.textContent = `${stars.length - i}`+"점";
        } else {
            rating.textContent = `${0}`+"점";
        }
    }

    // 후기 쓰기
    const commentWrite = () => {
        const commentWriter = [[${session.member.memberName}]];
        const commentContents = document.querySelector('input[name=commentContents]').value;
        const orderId = document.querySelector('input[name=orderId]').value;
        const starCount = document.querySelector('h1[name=starCount]').textContent;
        const regex = /[^0-9]/g;
        const result = starCount.replace(regex, "");
        const number = parseInt(result);


        $.ajax({
            type: "get",
            url: "/comment/save2",
            data: {
                commentWriter: commentWriter,
                commentContents: commentContents,
                orderId: orderId,
                starCount: number
            },
            dataType: "text",
            success: function (res) {
                console.log("성공");
                document.querySelector('input[name=commentContents]').value = "";
                document.querySelector('h1[name=starCount]').textContent = "0점";
                stars.forEach((star) => star.classList.remove("star__checked"));



            },
            error: function (err) {
                console.log("실패");
            }
        });
    }
</script>

</html>