<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div th:if="${orderList == 'empty'}">
    <p>주문내역이 없습니다.</p>
</div>
<div th:unless="${orderList == 'empty'}">

    <table class="table">
        <tr>
            <th>주문번호</th>
            <th>상품이름</th>
            <th>배송상태</th>
            <th>구매자</th>

        </tr>
        <tr th:each="order: ${orderList}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.orderName}"></td>
            <td>
                <select>
                    <option value="order" th:text="${order.orderStatus}"></option>
                    <option value="ready">배송준비</option>
                    <option value="done">배송완료</option>
                </select>
            </td>
            <td th:text="${order.memberName}"></td>
        </tr>
    </table>
</div>


<div class="container">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <!--첫페이지 요청 링크-->
            <a class="page-link" th:href="@{/order/listAll(page=1 ,sort=${sort} , size=${size})}">
                <span>First</span>
            </a>
        </li>

        <li th:class="${orderList.first} ? 'disabled'" class="page-item">
            <!--boardList.first: isFirst()
                boardList.number: getNumber()-->
            <a class="page-link" th:href="${orderList.first} ? '#' : @{/order/listAll(page=${orderList.number},sort=${sort},size=${size})}">
                <span><</span> <!-- < -->
            </a>
        </li>

        <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할 -->
        <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
            th:class="${page == orderList.number + 1} ? 'page-item active'" class="page-item">
            <a class="page-link" th:text="${page}" th:href="@{/order/listAll(page=${page},sort=${sort},size=${size})}"></a>
        </li>

        <!-- 다음 페이지 요청
            현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
            getNumber() 값은 2임.
            따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
        <li th:class="${orderList.last} ? 'disabled'">
            <a class="page-link" th:href="${orderList.last} ? '#' : @{/order/listAll(page=${orderList.number + 2},sort=${sort},size=${size})}">
                <span>&gt;</span>
            </a>
        </li>

        <li class="page-item">
            <a class="page-link" th:href="@{/order/listAll(page=${orderList.totalPages},sort=${sort},size=${size})}">
                <span>Last</span>
            </a>
        </li>
    </ul>
</div>

</body>
</html>