.star-container {
    display: flex;
    width: 350px;
    flex-direction: row-reverse;
}

.star {
}

.star:before {
    content: "\f005";
    font-family: fontAwesome;
    font-size: 60px;
    position: relative;
    display: block;
    color: #aaa;
}

.star:after {
    content: "\f005";
    font-family: fontAwesome;
    position: absolute;
    top: 7px;
    font-size: 60px;
    color: gold;
    opacity: 0;
}
.star:hover:after,
.star:hover ~ .star:after,
.star.star__checked:after,
.star.star__checked ~ .star:after{
    opacity: 1;
}

