<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <style>
        html, body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<a href="#" id="top"><img th:src="@{img/top_btn.png}" alt="top_btn"></a> <!--top버튼-->
<th:block th:replace="commonPages/header :: header"></th:block>
<div id="wrap">
    <!--        s:visual-->
    <div id="visual_bg">
        <div id="visual_txt">
            <p></p>
            <p>감성 플랜테리어 <br> <em>GARDENING SHOP</em></p>
        </div>
    </div>
    <!--        e:visual-->

    <!--s:section-->
    <div id="contents">
        <article>
            <div id="what">
                <h2>WHAT WE DO</h2>
                <p>식물, 그들을 이해하고 아끼는 사람이 만듭니다. <br>
                    언제 어디서나 식물을 사랑하는 우리 집사님들을 위해 건강한 식물을 판매하는 “Gardening”입니다. <br>
                    그늘에서도, 겨울에도 잘 자라는 식물!
                    <br> 플랜테리어, 인테리어화분, 원스톱 식물플랫폼, 푸르다마켓, 공기정화식물, 반려식물, ... <br>
                    Gardening 은 협력농장에서 직접보고 셀렉한 최상급 식물만을 판매합니다
                </p>
            </div>

            <img th:src="@{/img/main2.jpg}">

        </article>

        <div id="intro_bg">
            <section>
                <h2>최신 상품</h2>
                <div id="pdt">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:each="item: ${itemList}">

                                    <li><a th:href="@{/item/(itemId=${item.id})}">
                                        <img th:src="@{|/upload/${item.storedFileNameItem.get(0)}}" alt="" width="200"
                                             height="150">
                                        <p><img th:src="@{/img/new.png}" alt="new">
                                        <p class="read"><a th:href="@{/item/(itemId=${item.id})}"
                                                           th:text="${item.itemName}"></a>
                                        </p>
                                        <em th:text="${#numbers.formatCurrency(item.itemPrice)}"></em>
                                        </p>
                                    </a>
                                    </li>

                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </section><!--px-->
        </div>
    </div>
    <!--e:section-->


    <!--s:footer-->
    <footer>
        <div id="f_top">
            <div id="left">
                <p>주소 : 01234 서울특별시 용산구 <br>
                <address>전화 : 02-1234-1234 팩스 : 02-1234-1234</address>
                <p>Contact kildong@naver.com for more information.</p>


            </div>

            <div id="tle_right">
                <div id="right">
                    <p><em>고객센터</em> <br>
                        <span>02-1234-1234</span><br>
                        평일 09:00-18:00, 점심 12:00-13:00<br>
                        주말, 공휴일 휴무</p>
                </div>

                <div id="right2">
                    <p><em>은행계좌</em> <br>
                        <b>국민000000-01-123456</b> <br>
                        예금주 : 홍길동</p>
                </div>
            </div>


        </div>


        <div id="f_btm_bg"></div>
        <div></div>
    </footer>
    <!--e:footer-->

</div>

</body>
<script th:inline="javascript">


    const cart = () => {
        const form = document.querySelector('form');
        form.submit();
    }

    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 5,
        slidesPerView : '4', // 한 슬라이드에 보여줄 갯수
        centeredSlides: true,    //센터모드
        pagination: {
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }, loop : true,
        autoHeight : true,
        autoplay: {     //자동슬라이드 (false-비활성화)
            delay: 1500},
    });

</script>
</html>



















