<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/style/style3.css}" type="text/css">
    <script th:src="@{/js/axios.min.js}"></script>
    <script src="/resources/js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    시간설정-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div class="container">
    <form action="/cart/save" method="post">
        <table class="table table-hover table-striped mt-5">
            <tr th:if="${item.fileAttachedItem == 1}">
                <th>파일</th>
                <td th:each="fileName: ${item.storedFileNameItem}">
                    <img th:src="@{|/upload/${fileName}}" alt="" width="200" height="200"></td>
                <input type="hidden" th:value="${item.storedFileNameItem.get(0)}" name="itemImage">
            </tr>
            <tr>
                <th>상품명</th>
                <input type="hidden" name="id" th:value="${item.id}">
                <input type="hidden" name="userId" th:value="${session.member.userId}">
                <td><input type="text" name="itemName" th:value="${item.itemName}" class="form-control" readonly></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="text" name="itemPrice" th:value="${item.itemPrice}" class="form-control" readonly></td>
            </tr>
            <tr>
                <th>설명</th>
                <td><textarea name="itemContents" cols="30" rows="10" class="form-control" readonly
                              th:value="${item.itemContents}">[[${item.itemContents}]]</textarea></td>
            </tr>
            <tr>
                <th>구매수량</th>
                <td>
                    <input type="number" id="itemCountInput" min="1" max="100" value="1" name="cartCount"
                           onchange="total()">
                </td>
            <tr>
                <th>가격</th>
                <td th:text="${item.itemPrice}"></td>
            </tr>
            <tr>
                <th>총가격</th>
                <td id="totalPrice"></td>
            </tr>
        </table>
    </form>
    <input type="button" value="장바구니" onclick="cart()">
    <a href="/order/save">바로구매</a>
</div>
<div class="container mt-5">
    <div id="comment-write" class="input-group" mb-3>
        <div class="form-floating">
            <input type="text" id="commentWriter" th:value="${session.member.userId}" class="form-control" readonly>
            <label for="commentWriter">작성자</label>
        </div>
        <div class="form-floating">
            <input type="text" id="commentContents" class="form-control" placeholder="내용">
            <label for="commentContents">내용</label>
        </div>
        <div class="star-container" >
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <h1 class="rating" id="starCount">0</h1>
        <script th:src="app.js"></script>
        <button id="comment-write-btn" class="btn btn-secondary" onclick="commentWrite()">후기작성</button>
    </div>
</div>
<div class="container mt-5" id="comment-list">
    <div th:if="${commentList == 'empty'}">
        <p>작성된 후기가 없습니다.</p>
    </div>
    <div th:unless="${commentList == 'empty'}">
        <table class="table">
            <tr>
                <th>번호</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
                <th>별점</th>

            </tr>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.commentWriter}"></td>
                <td th:text="${comment.commentContents}"></td>
                <td th:text="*{#temporals.format(comment.commentCreatedDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${comment.starCount}"></td>
            </tr>
        </table>
        <div class="container">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <!--첫페이지 요청 링크 /board?page=1-->
                    <a class="page-link" th:href="@{/item/(page=1,itemId=${itemId})}">
                        <span>First</span>
                    </a>
                </li>

                <li th:class="${commentList.first} ? 'disabled'" class="page-item">
                    <!--boardList.first: isFirst()
                        boardList.number: getNumber()-->
                    <a class="page-link" th:href="${commentList.first} ? '#' : @{/item/(page=${commentList.number},itemId=${itemId})}">
                        <!-- 사용자 3페이지, number 2 /board?page=2-->
                        <span><</span> <!-- < -->
                    </a>
                </li>

                <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할 -->
                <!--for(int page=startPage; page<=endPage; page++)-->
                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:class="${page == commentList.number + 1} ? 'page-item active'" class="page-item">
                    <a class="page-link" th:text="${page}" th:href="@{/item/(page=${page},itemId=${itemId})}"></a>
                </li>

                <!-- 다음 페이지 요청
                    현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
                    getNumber() 값은 2임.
                    따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
                <li th:class="${commentList.last} ? 'disabled'">
                    <a class="page-link" th:href="${commentList.last} ? '#' : @{/item/(page=${commentList.number + 2},itemId=${itemId})}">
                        <span>&gt;</span>
                    </a>
                </li>

                <li class="page-item">
                    <!--마지막페이지 요청 링크-->
                    <a class="page-link" th:href="@{/item/(page=${commentList.totalPages},itemId=${itemId})}">
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<div id="comment-page">

</div>

</body>

<script th:inline="javascript">
    const cart = () => {
        const form = document.querySelector('form');
        form.submit();
    }

    const total = () => {
        const oderCount2 = document.getElementById('itemCountInput').value;
        const itemPrice2 = [[${item.itemPrice}]];
        let oderCount = oderCount2;
        let itemPrice = itemPrice2;
        let totalPrice = oderCount * itemPrice;
        console.log(totalPrice);
        document.getElementById("totalPrice").innerHTML = totalPrice + "₩"
    }

    let stars = document.querySelectorAll(".star");
    document.querySelector(".star-container").addEventListener("click", starRating);
    let rating = document.querySelector(".rating");

    function starRating(e) {
        stars.forEach((star) => star.classList.remove("star__checked"));
        const i = [...stars].indexOf(e.target);
        if (i > -1) {
            stars[i].classList.add("star__checked");
            rating.textContent = `${stars.length - i}`;
        } else {
            rating.textContent = `${0}`;
        }
    }

    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        const starCount = document.getElementById("starCount").textContent;
        console.log(starCount);
        const id = [[${item.id}]];
        $.ajax({
            type: "post",
            url: "/comment/save",
            data: {
                id: id,
                commentWriter: writer,
                commentContents: contents,
                itemId: id,
                starCount: starCount
            },
            dataType: "json",
            success: function (commentMap) {
                console.log(commentMap);
                console.log(commentMap.commentList);
                console.log(commentMap.commentList.content[0]);
                console.log(commentMap.paging);
                console.log(commentMap.paging.startPage);
                let commentList2 = commentMap.commentList.content;
                console.log("성공");
                console.log("commentList", commentList2);
                let output = "<table class='table'>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th>";
                output += "<th>별점</th></tr>";
                for (let i in commentList2) {
                    output += "<tr>";
                    output += "<td>" + commentList2[i].id + "</td>";
                    output += "<td>" + commentList2[i].commentWriter + "</td>";
                    output += "<td>" + commentList2[i].commentContents + "</td>";
                    output += "<td>" + moment(commentList2[i].commentCreatedDate).format("YYYY-MM-DD HH:mm:ss") + "</td>";
                    output += "<td>" + commentList2[i].starCount + "</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentWriter').value = '';
                document.getElementById('commentContents').value = '';
                document.getElementById('comment-page').innerHTML = '';

            },
            error: function () {
                console.log("실패");
            }
        });
    }


</script>
</html>