<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <!--bootstrap cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--  폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body style="background-color: white">
<th:block th:replace="commonPages/header :: header"></th:block>
<nav>
    <div class="container" style="position: relative">
        <div class="btn-group" style="top: 0px; left: 20px; position: relative">
            <a th:href="@{/item/main(page=${page} ,sort='id' , size=${size},search=${search},category=${category})}"
               th:style="${sort.equals('id')} ? 'color: black' " style="color: black">최신순</a>
            <a th:href="@{/item/main(page=${page} ,sort='itemPrice' , size=${size},search=${search},category=${category})}"
               th:style="${sort.equals('itemPrice')} ? 'color: black' " style="color: black">낮은가격순</a>
            <a th:href="@{/item/main(page=${page} ,sort='itemSellCount' , size=${size},search=${search},category=${category})}"
               th:style="${sort.equals('itemSellCount')} ? 'color: black' " style="color: black">판매순</a>
        </div>
        <!--정렬 버튼-->
        <div class="btn-group dropdown" style="right:40px ;position:relative ; float: right">
            <button type="button" class="dropdown-toggle active" data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true" th:text="${size}+'개씩보기'" id="dropdown_form">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li th:class="${size == 1} ? 'dropdown-item active' " class="dropdown-item active"><a
                        th:href="@{/item/main(page=1, size=5 , sort=${sort})}" class="dropdown-item">5개씩</a></li>
                <li th:class="${size == 2} ? 'dropdown-item active' " class="dropdown-item active"><a
                        th:href="@{/item/main(page=1, size=10 , sort=${sort})}" class="dropdown-item">10개씩</a></li>
                <li th:class="${size == 3} ? 'dropdown-item active' " class="dropdown-item active"><a
                        th:href="@{/item/main(page=1, size=20, sort=${sort})}" class="dropdown-item">20개씩</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" id="productSaveForm">
            <div th:if="${!session.isEmpty()} and ${session.member.userId} == 'admin' ">
    <a href="/item/save">상품등록</a>
            </div>
</div>


<div class="container">
    <table class="table table-striped table-hover text-center mt-5" th:if="${message} != 'null'">
        <div style="text-align: left">
            <div th:each="item: ${itemList}">
                <div class="item  col-xs-3 col-md-4" style="width: 280px ; height: 350px; ">
                    <div class="thumbnail" style="border: none"> <!--테두리 제거 -->
                        <div th:if="${item.fileAttachedItem == 1}">
                            <img th:src="@{|/upload/${item.storedFileNameItem.get(0)}}" alt="" width="250" height="200">
                        </div>
                        <div th:if="${item.fileAttachedItem == 0}">
                            이미지 미등록
                        </div>
                        <p class="read"><a style=" font-weight: bold ; color: #222;"
                                           th:href="@{/item/(itemId=${item.id})}"
                                           th:text="${item.itemName}"></a></p>
                        <div class="caption" style="padding-left: 0px; padding-top: 0px"><!-- name, price left 정렬-->
                            <div class="row">
                                <div class="col-xs-12 col-md-8" style="text-align: left" >
                                    <div th:if="${item.itemCount == 0}">
                                        <p style="color: red; font-weight: bold; float: left; padding-left: 30px;">품절</p>
                                        <div style="font-weight: bold">
                                            <p style=" text-align: left" th:text="${#numbers.formatInteger(item.itemPrice,0,'COMMA')}"></p>
                                        </div>
                                    </div>
                                    <div th:unless="${item.itemCount == 0}">
                                        <div style="font-weight: bold">
                                            <p th:text="${#numbers.formatInteger(item.itemPrice,0,'COMMA')}+'원'"></p>
                                        </div>
                                    </div>

                                    <div th:if="${!session.isEmpty()} and ${session.member.userId} == 'admin' ">
                                        <button  th:onclick="updateReq([[${item}]])" class="btn btn-outline-secondary btn-sm">상품 수정</button>
                                        <button  th:onclick="deleteReq([[${item}]])" class="btn btn-outline-secondary btn-sm">상품 삭제</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </table>


    <div class="container" style="position:relative ; text-align: center;" >
        <div class="search" style="position: relative ; bottom: 0px ; left: 300px">
            <!-- 부드스트랩 검색창 -->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <select class="form-control" id="category">
                        <option value="itemName">상품이름</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Search" id="searchQ" th:value="${search}"
                           name="search">
                    <input type="button" value="검색" class="form-control" onclick="searchList()">
                </div>
            </form>
        </div>

        <div style="position: relative ; bottom: -40px;  right: 260px">
            <ul th:if="${message} != 'null'" class="pagination justify-content-center">
<!--                <li class="page-item">-->
<!--                    &lt;!&ndash;첫페이지 요청 링크&ndash;&gt;-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/item/main(page=1 ,sort=${sort} , size=${size},search=${search},category=${category})}">-->
<!--                        <span>First</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li th:class="${itemList.first} ? 'disabled'" class="page-item">-->
<!--                    &lt;!&ndash;boardList.first: isFirst()-->
<!--                        boardList.number: getNumber()&ndash;&gt;-->
<!--                    <a class="page-link"-->
<!--                       th:href="${itemList.first} ? '#' : @{/item/main(page=${itemList.number},sort=${sort},size=${size},search=${search},category=${category})}">-->
<!--                        <span><</span> &lt;!&ndash; < &ndash;&gt;-->
<!--                    </a>-->
<!--                </li>-->

                <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할 -->
                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:class="${page == itemList.number + 1} ? 'page-item active'" class="page-item">
                    <a class="page-link" th:text="${page}"
                       th:href="@{/item/main(page=${page},sort=${sort},size=${size},search=${search},category=${category})}"></a>
                </li>

                <!-- 다음 페이지 요청
                    현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
                    getNumber() 값은 2임.
                    따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
<!--                <li th:class="${itemList.last} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="${itemList.last} ? '#' : @{/item/main(page=${itemList.number + 2},sort=${sort},size=${size},search=${search},category=${category})}">-->
<!--                        <span>&gt;</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="page-item">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/item/main(page=${itemList.totalPages},sort=${sort},size=${size},search=${search},category=${category})}">-->
<!--                        <span>Last</span>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</div>

<div id="sidebar" class="sidebar-form" style="position: absolute; top: 200px ; right: 50px">
    <ul>
        <li align="center" >
            최근본상품
            <br>￣￣￣￣￣
        </li>

        <li><img id="recentItemImg0" src="/img/today-top.png" alt="" width="50" height="50" ></li>
        <li><a id="recentItemId0" href="#"></a></li>

        <li><img id="recentItemImg1" src="/img/today-top.png" alt="" width="50" height="50" ></li>
        <li><a id="recentItemId1" href="#"></a></li>

        <li><img id="recentItemImg2" src="/img/today-top.png" alt="" width="50" height="50" ></li>
        <li><a id="recentItemId2" href="#"></a></li>
    </ul>
</div>




</body>

<script th:inline="javascript">
    //상품 검색
    const searchList = () => {
        const sort = [[${sort}]];
        const size = [[${size}]];
        const Type = document.getElementById("category")
        const category = Type.options[Type.selectedIndex].value;
        const search = document.getElementById("searchQ").value;
        location.href = "/item/main?category=" + category + "&search=" + search + "&sort=" + sort + "&size=" + size;
    }


    //상품 수정
    const updateReq = (updateFn) => {
        console.log(updateFn);
        const id = updateFn.id;
        location.href = "/item/update/" + id;
    }
    //상품 삭제
    const deleteReq = (deleteFn) => {
        console.log(deleteFn);
        const id = deleteFn.id;
        location.href = "/item/delete/" + id;
    }

    //최근본상품

    const recentItems = JSON.parse(localStorage.getItem("recentItems")) || [];
    const currentTime = Date.now();
    const filteredRecentItems = recentItems.filter(item => currentTime - item.timestamp < 10000);
    localStorage.setItem("recentItems", JSON.stringify(filteredRecentItems));
    filteredRecentItems.forEach((item) => {
        if (item != null) {
            for (let i = 0; i < filteredRecentItems.length; i++) {
                if (filteredRecentItems[i] != null) {
                    document.getElementById("recentItemId"+i).href = "/item/?itemId=" + filteredRecentItems[i].itemId;
                    document.getElementById("recentItemImg"+i).src = "/upload/"+filteredRecentItems[i].itemImage
                    document.getElementById("recentItemId"+i).innerHTML = filteredRecentItems[i].itemName;
                }
            }
    }
    });




</script>
</html>